python-dotenv
pymilvus
pypdf

langchain
langchain-openai
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
langchain-milvus
langgraph
langgraph-cli
langgraph-cli[inmem]
langgraph-supervisor

bcrypt
python-multipart
fastapi
yfinance
joblib
scikit-learn
passlib
python-jose
sqlalchemy
psycopg2-binary